                    /* ----------
                        HEADER
                     ---------- */
.header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  position: fixed;
  background-color: white;
  width: 100%;
}

.logo {
  display: inline-flex;
  align-items: center;
  color: MediumAquamarine;
  padding-left: 30px;
}

.nav-container {
  display: inline-flex;
  align-items: center;
  padding-right: 30px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: black;
}

                          /* ----------
                          MAIN CONTAINER
                           ---------- */

.main-container {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}

.column {
  border: 1px solid MediumAquamarine;
  display: inline-flex;
  flex-direction: column;
}

.column div {
  border: 1px solid MediumAquamarine;
}

.large {
  width: 630px;
}

.main-story {
  background-image: url("../img/img-story-main.png");

  color: red;
}

.earth-pic {
  background-image: url("../img/img-story-2.png");
}

.camera-pic {
  background-image: url("../img/img-story-3.png");
}

.medium {
  width: 300px;
}

.cat-pic {
  background-image: url("../img/img-story-1.png");
}

.small {
  width: 240px;
}
